%h1#header  #{@movie.title} (#{@year}) 

%ul 
  %li#details
    Rating:
    = @movie.rating
  %li#details
    Released on:
    = @release_date

%h3#description Description:
%p#description= @movie.description 
%div 
%br

= link_to 'Add', "/add?id=#{@id_tmdb}", method: 'get', :class => "btn"

%div 
%br
= link_to 'Back to movie list', movies_path(), :class => "home_btn"