%h1#header  #{@movie.title} (#{@movie.release_date.strftime("%Y")}) 

%ul 
  %li#details
    Rating:
    = @movie.rating
  %li#details
    Released on:
    = @movie.release_date.strftime("%F")

%h3#description Description:
%p#description= @movie.description 
%div 
%br

= link_to 'REAL Add', "/add?title=#{@movie.title}&rating=#{@movie.rating}&releases_date=#{@movie.release_date}&des=#{@movie.description}", method: 'get'

%div 
%br
= link_to 'Back to movie list', movies_path()