-# in app/views/movies/show.html.haml

%h1#header  #{@movie.title} (#{@year})  #{link_to 'Edit', edit_movie_path(@movie), style: "font-size:14px"}

%ul 
  %li#details
    Rating:
    = @movie.rating
  %li#details
    Released on:
    = @release_date

%h3#description Description:

%p#description= @movie.description
%div 
%br
%h3#description Review:
%table#review
  %thead
    %tr
      %th Moviegoer
      %th Potato
      %th Comment
  %tbody
    -@movie.reviews.each do |review|
      %tr 
        %td= review.moviegoer.name
        %td= review.potatoes
        %td= review.comments
        %td= link_to 'Edit Review', edit_movie_review_path(@movie,review)  
        -# line 31 link ไปหน้า edit ของ review นั้นๆ

%div#three-btn
  %br
  = link_to 'Delete', movie_path(@movie), :method => :delete, :class => "btn"
  %br
  = link_to 'Add Review', new_movie_review_path(@movie), :class => "btn"
  %br
  = link_to 'Back to movie list', movies_path(), :class => "home_btn"